.container{
    margin-bottom: 100px;
}
.orange-bg{
    background: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.btn-buy-now{
   background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
   color: #fff;
   border: none;
   border-radius: 8px;
   padding: 9px 25px;
}
.carousel-indicators li {
    width: 18px;
    height: 18px;
}

/* categories */
.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
}

.cat-1{
    background: orange;

}
.cat-2{
    background: orchid;
}
.cat-3{
    background: blue;
}

/* shoes */
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-footer{
    background:#fff;
    border-top: none;
}